<div class="container">

  <div class="row rev-mobile">

    <div class="col-md-6 col-sm-12  second-column">
    </div>
    <div class="col-md-6 col-sm-12  first-column">
      <h3>How Superkabza Private Dinning works</h3>
      <p>On the day of your dinner, the Chef will send you a notification to
        let you know that he is on his way. The Chef cooks in your kitchen, using your equipment,
        and will also clean up the kitchen when they are done.
       </p>
        <h6> All you have to do is sit back, relax and enjoy a delicious meal with your guests.</h6>
      <button class="col-md-6 button button1" > <a href="/files/super.pdf" download="Superkabza.pdf">Download Brochure </a> </button>
    </div>
  </div>
  <div class="row">

  </div>
</div>
