<div class="container">
  <div class="col-md-12">
  <div id="ice-tab-content">

    <div class="col-md-12 tab-content tab-active">
      <div class="col-md-6 left">
        <h3>Welcome to SuperKabza</h3>
        <h5>Private Chef and Dinning Experiences</h5>
        <p>Conveniently and effortlessly book a dinner for 10 or
           more using any of the contact details listed. Choose from one of our seasonal
            menus on offer, or book a consultation with the Chef to design and plan a menu.</p>
        <button class="col-md-4 button button1">Book now</button>
      </div>
      <div class="col-md-6 right">
        <img src="/assets/images/chef.png" alt='image'>
      </div>
    </div>
  </div>
  </div>
</div>
