
<footer class="footer-distributed">
  <div class="footer-center">

    <div class="col-md-12">
      <div class="highlight-card card-small">
        <img src="/assets/images/Rectangle.png" alt='image'>
      </div>

        <p><a href="mailto:info@superkabza.co.za">info@superkabza.co.za </a></p>
        <p><a href="tel:+27737738797">27 ( 0) 73 773 8797</a></p>

      <div class="footer-icons">
        <a href="https://www.facebook.com/superkabza"><i class="fa fa-facebook"></i></a>
        <a href="mailto:info@superkabza.co.za"><i class="fa fa-envelope"></i></a>
        <a href="https://twitter.com/superkabza?s=21"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/superkabza/"><i class="fa fa-instagram"></i></a>
      </div>

      <div class="copyright">
        <p>Copyright © 2020. All rights reserved.</p>
      </div>
  </div>
  </div>

</footer>
