
<div class="container">
  <div class="row">
    <div class="col-sm-6 first-column">
        <h2>Get In Touch</h2>
        <p><i class="fa fa-map-marker"> </i>Woodlands Place, 95 Mat Ave, Pretoriuspark, Pretoria</p>
        <p><a href="tel:+27676123664"> <i class="fa fa-mobile-phone"></i> +2767 612 3664</a></p>
        <p> <i class="fa fa-whatsapp"></i>+2767 612 3664</p>
      <form method="post" data-form-title="CONTACT US">
        <input type="hidden" data-form-email="true">
        <div class="row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="name" required="" placeholder="Name" data-form-field="Name">
        </div>

        <div class="form-group col-md-6">
          <input type="email" class="form-control" name="email" required="" placeholder="Email Address " data-form-field="Email">
        </div>
        </div>
        <div class="row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="phone" placeholder="Date and time of service" data-form-field="Phone">
        </div>
        <div class="form-group col-md-6">
          <input type="tel" class="form-control" name="phone" placeholder="Number of people" data-form-field="Phone">
        </div>
      </div>
      <div class="row">
          <div class=" col-md-12 form-group">
            <input type="text" class="form-control" name="phone" placeholder="Area" data-form-field="Phone">
          </div>
          <div class="col-md-12 form-group">
            <textarea class="form-control message" name="message" placeholder="Write your message here, eg: dietary needs, table setup, flower arrangements, theme, etc" rows="7" data-form-field="Message"></textarea>
          </div>
      </div>
        <button type="submit" class="col-md-3 btn button1 button">Send</button>
      </form>
    </div>
    <div class="col-sm-6 second-column">
    </div>
  </div>
  <div class="row">
  </div>
</div>
