@import '~bootstrap/dist/css/bootstrap.min.css';

@text-color : #B61F2B;
@border-color: #BA1C28;
@white: #ffffff;
@background: #4B0B12;
@text-color: #DEDEDE;
@heading: #C3B98B;
@menucolor : red;
@menubackround : #E5E5E5;


  h3 {
    color: @heading
  }

  h5, p {
    color: @text-color;
  }


  .left {
    background-color: @background;
    border-radius: 50px 0 0 50px;
    padding: 50px;
  }
    .right {

      img {
        width: 435px;
        height: 411px;
        border-radius: 0 50px 50px 0px;
        margin-top: -275px;
      }
    }

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.button1 {
  background-color: #BBBC90;
  color: @background;
  border: 2px solid @background;

  &:hover {
    background-color: @background;
    color: white;
  }
  &:focus {
    border: none;
    outline: none;
  }
}


// new nav
.nav {
  margin-bottom: 40px;
  margin-top: 40px;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: @border-color;
  border-radius: 0;
}

.nav-pills .nav-item:first-child .nav-link {
  border-radius: 20px 0 0 20px;
  @media (max-width: 768px) {
    border-radius: 50px
  }
}

.nav-pills .nav-item:last-child .nav-link {
  border-radius: 0 20px 20px 0px;
  @media (max-width: 768px) {
    border-radius: 50px
  }
}
a.nav-link {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: @border-color;
}
li.nav-item {
  border: 2px solid @heading;
  padding: 0;
  @media (max-width: 768px) {
    margin: 10px 0;
  }

  &:first-child {
    border-radius: 50px 0 0 50px;
    border-right: none;
  }
  &:last-child {
    border-radius: 0 50px 50px 0px;
    border-left: none;
  }

  @media (max-width: 768px) {
    border: 2px solid @heading;
    border-radius: 50px;

  &:first-child {
    border-radius: 50px ;
  }
  &:last-child {
    border-radius: 50px;
  }
  }
}
.container {
  @media all and (max-width: 720px) and (min-width: 320px) {
   padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 720px){
  .hidden-sm, .hidden-xs {
    display: none
  }
}

@media (min-width: 720px) {
  .hidden-md, .hidden-lg {
    display: none
  }
}


  @media all and (max-width: 720px) and (min-width: 320px) {

.header {
  all: revert;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 3;
  border: 0px solid white;
  background-color: @menubackround ;
}

.header .logo {
  display: block;
  float: left;
  padding: 15px 30px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: @border-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: @border-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .dropdown-content {
   list-style-type: none;
   display: none;
   position: absolute;
   background-color: black;
   opacity: 0.9;
   min-width: 160px;
   top:58px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 12px;
   z-index: 4;
}

.header .dropdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  color:#222222;
  width: 256px;
}

.header .dropdown-content li {
  width: 300px;
}

.header  .dropdown-content li a {
  display: block;
  font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: @menucolor;
  padding: 20px 20px;
  text-decoration: none;
}

.header .dropdown-content li:hover{
  background: none;
}

.header .dropdown-content li a:hover {
  color:white;
  background: none;
}

.header .menu-btn:checked ~ .dropdown-content {
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
  }

