
<div class="container">

    <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(/assets/images/gallery/header.jpeg);">
      <h1 class="mb-4">
        Some of our favourite Work
      </h1>

    </div>

    <div class="text-white jumbotron-image shadow">
      <iframe class="videofull" src="https://www.youtube.com/embed/Y0pP8esaJlU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column 1-->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/assets/images/gallery/IMG_1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->


  <!-- Grid column 2-->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_2.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

    <!-- Grid column 3 -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/assets/images/gallery/IMG_3.png" alt="Card image cap">
    </div>
    <!-- Grid column -->


    <!-- Grid column 4-->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/assets/images/gallery/IMG_4.png" alt="Card image cap">
    </div>
    <!-- Grid column -->


  <!-- Grid column 1-->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_5.png" alt="Card image cap">
  </div>
  <!-- Grid column -->


    <!-- Grid column 2-->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/assets/images/gallery/IMG_6.png" alt="Card image cap">
    </div>
    <!-- Grid column -->

   <!-- Grid column 3-->
   <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_7.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column 1 -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/assets/images/gallery/IMG_8.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column 2-->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_9.png" alt="Card image cap">
  </div>
  <!-- Grid column -->


  <!-- Grid column 3-->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_10.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/assets/images/gallery/IMG_11.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/assets/images/gallery/IMG_12.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_1.png" alt="Card image cap">
  </div>
  <!-- Grid column -->
  <!-- Grid column -->

  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/assets/images/gallery/IMG_2.png" alt="Card image cap">
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
