<div class="container">

  <div class="row">
    <div class="col-sm-6 first-column">
      <h3>What Superkabza needs in your kitchen</h3>
      <p>The Chef does not need much to cook up a storm! All that is required is:
         A working oven and stove; Running water; and Enough dinnerware to accommodate the number of guests.
         In addition, we require the following kitchen basics: Pots and Pans, Oven Tray Mixing Bowl,
         Cutting Board Basic tools ( knife, spatula, serving spoon)
         </p>
         <h6>Please note that this can however be organised by the Chef, on request</h6>
    </div>
    <div class="col-sm-6 second-column">
    </div>
  </div>
  <div class="row">

  </div>
</div>
