<div class="container">

  <div class="row rev-mobile">
    <div class="col-md-6 col-sm-12 first-column">
      <h3>Welcome to SuperKabza</h3>
      <h5>Private Chef and Dinning Experiences</h5>
      <p>Conveniently and effortlessly book a dinner for 10 or
         more using any of the contact details listed. Choose from one of our seasonal
          menus on offer, or book a consultation with the Chef to design and plan a menu.</p>
          <a href="#messages" data-toggle="pill" role="tab" class=" col-md-4 button button1" aria-controls="pills-ostrich" aria-selected="false"> Book now </a>
    </div>
    <div class="col-md-6 col-sm-12 second-column">
    </div>
  </div>
  <div class="row">

  </div>
</div>
